<!-- 
        <p-card header="{{i.nombreApodo}}" subheader="{{i.rol}}" [style]="{width: '360px'}" styleClass="p-card-shadow" position="center" *ngFor="let i of arregloCineastas">
            <ng-template pTemplate="header">
                <img class="img-card" alt="Card" src="{{i.imagenCineasta}}">
            </ng-template>

        </p-card> -->

        <!-- FONDO TRIANGULO -->
        <div class="container__background-triangle">
            <div class="triangle triangle1"></div>
            <div class="triangle triangle2"></div>
            <div class="triangle triangle3"></div>
        </div>
        <!-- CARDS -->
        <div class="container__cards" *ngFor="let i of arregloCineastas">
            <div class="card">
                <div class="cover__card">
                    <img src="{{i.imagenCineasta}}" alt="">
                </div>
                <h2>{{i.nombreApodo}}</h2>

                <p><b>Roles:</b>  {{i.rol}}</p>
                <hr>
                <p-button (click)="showModalDialog(i)" label="Mas Información"></p-button>

                <p>{{i.rol}}</p>
                <hr>
                <p-button (click)="showModalDialog(i)" label="+info"></p-button>


            </div>
            <p>comentario</p>
        </div>
        <!-- FUNCION QUE LLAMA EL DIALOGO -->
        <p-dialog class="dialog" header="Informacion" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
        [draggable]="false" [resizable]="false">
        <p><b>Nombre completo:</b> {{cineastaSelec.nombreCompleto}}</p>
        <p><b>Edad: </b>{{cineastaSelec.edad}}</p>
        <p><b>Fecha de nacimiento:</b> {{cineastaSelec.fechaNac}}</p>
        <p><b>Lugar de nacimiento:</b> {{cineastaSelec.lugarNac}}</p>
        <p><b>Residencia: </b>{{cineastaSelec.residencia}}</p>
        <p><b>Educacion: </b>{{cineastaSelec.educacion}}</p>
        <p><b>Años activo:</b> {{cineastaSelec.anosActivo}}</p>
        <p><b>Peliculas realizadas:</b> {{cineastaSelec.cantMultimedia}}</p>
        <p><b>Trabajos destacados:</b> {{cineastaSelec.trabajosDestacados}}</p>
        <p><b>Premios: </b>{{cineastaSelec.premios}}</p>
        <p><b>Religion:</b> {{cineastaSelec.religion}}</p>
        <p><b>Curiosidad:</b> {{cineastaSelec.curiosidad}}</p>
        <p><b>Descripcion: </b>{{cineastaSelec.descripcion}}</p>
            <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayModal=false" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-dialog>
        