p{
    color: rgb(248, 245, 245);
    margin: 0;
}
:host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}


.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__background-triangle{
    max-width: 1200px;
    height: 600px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.triangle{
    width: 300px;
    height: 300px;
    background: red;
    position: absolute;
}

.triangle1{
    width: 250px;
    height: 250px;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    right: 100px;
    top: 100px;
    animation: t1 8s ease infinite;
}

.triangle2{
    width: 200px;
    height: 200px;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    top: 350px;
    animation: t2 9s ease infinite;
}

.triangle3{
    width: 300px;
    height: 300px;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    left: 200px;
    animation: t3 7s ease infinite;
}

@keyframes t1 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

@keyframes t2 {
    0%{
        transform: rotate(65deg) translateY(0px);
    }
    50%{
        transform: rotate(65deg) translateY(20px);
    }
    100%{
        transform: rotate(65deg) translateY(0px);
    }
}

@keyframes t3 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}


.container__cards{
    width:33.33%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    width: 350px;
    margin: 10px;
    padding: 12px;
    background: #3a0e0cba;
    border-left: 1px solid rgba(0, 0, 0, 0.651);
    border-top: 1px solid rgba(12, 0, 0, 0.61);
    border-radius: 15px;
    transition: all 300ms;
}

/* .card:hover{
    transform: translateY(-10px);
}

.card:hover .cover__card img{
    transform: scale(1.1);
} */

.cover__card{
    width: 320px;
    max-height: 350px;
    border-radius: 14px;
    overflow:hidden;
}

.cover__card img{
    width: 100%;
}

.card h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #ffe7a6;
    font-weight: bold
}

.card p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footer__card{
    margin-top: 10px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width:1900px) {
    .container__cards{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}
.dialog{
    color: black!important;
}

::ng-deep .p-button{
    color: #700000;
    margin: 10px;
    background: #979797;
    border: 1px solid #3b82f600;
}
    ::ng-deep.p-button:enabled:hover{
        color: #eee8cb;
        background: #55000000;
        border: 1px solid #ebe6cf;
    }

/* Mas informacion */
::ng-deep.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #270907e3;
    color: #ffffff;
    padding: 1.5rem;
    font-weight: bold;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
::ng-deep.p-dialog .p-dialog-content {
    background: #270907e3;
    color: #ffffff;
    padding: 0 1.5rem 2rem 1.5rem;
}
::ng-deep.p-dialog .p-dialog-footer {
    border-top: 0 none;
    background: #270907e3;
    color: #ffffff;
    text-align: right;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
::ng-deep.p-dialog .p-button {
    min-width: 4rem;
}

/* imagen que se muestra en el dialogo mas info */
.imagenMasInfo{
    width: 200px;
    border-radius: 10px;
}
.containerImagen{
    margin: 10px;
    display: flex;
    justify-content: center;
}

/* apodo que se muestra en el dialogo mas info */
h2{
    text-align: center;
    margin: 20px;
}
