<h1>Accion</h1>
<app-carousel [miMultimedia]="arregloPeliculas2"></app-carousel>

<!-- Habilitar en modo administrador -->

<p-card header="Titulo" subheader="Genero" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/showcase/images/usercard.png">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button"  icon="pi pi-plus" class="p-button-rounded"></button>
    </ng-template>
</p-card>