<button pButton pRipple routerLink='mas-info-peliculas' type="button" label="Más Información" class="p-button-raised p-button-info"></button>
<router-outlet></router-outlet>
<h1>Accion</h1>
<app-carousel [miMultimedia]="arregloPeliculas2"></app-carousel>
<h1>Terror</h1>
<app-carousel [miMultimedia]="arregloPeliculas2"></app-carousel>
<h1>Aventura</h1>
<app-carousel [miMultimedia]="arregloPeliculas2"></app-carousel>
<h1>Comedia</h1>
<app-carousel [miMultimedia]="arregloPeliculas2"></app-carousel>
