h1{
    margin-left: 50px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    margin: 20px;
}
::ng-deep.p-button{
    border-radius: 50px ;
 }
form{
    width: 500px;
    height: 500px;
}
input , textarea{
    width: 100%;
}