h1{
    margin-left: 50px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botonAgregar{
    margin: 30px;
}
form{
    width: 450px;
    height: 500px; 
    margin: auto;
}

input , textarea{
    width: 100%;
    padding: 1rem;
} 
@media (max-width:480px){
    form{
        width: 100%;
    }}