<div class="container">
    <h1>{{contenidoSeleccionado.titulo}}</h1>
    <div class="grid">
        <div class="col-4"><img src="{{contenidoSeleccionado.imagenMultimedia}}" style="width: 50%;" alt="{{contenidoSeleccionado.titulo}}">  
            <h3>Genero</h3>
            <p>{{contenidoSeleccionado.tipo.name}}, {{contenidoSeleccionado.genero.name}}. </p>
        </div>
        <dl class="col-4">
            <dt>Pais</dt>
            <dd>{{contenidoSeleccionado.pais}}</dd>
            <dt>Descripcion</dt>
            <dd>{{contenidoSeleccionado.descripcion}}</dd>
            <dt>Productora</dt>
            <dd>{{contenidoSeleccionado.productora}}</dd>
            <dt>Año</dt>
            <dd>{{contenidoSeleccionado.ano}}</dd>
            <dt>Duración</dt>
            <dd>{{contenidoSeleccionado.duracion}} Minutos</dd>
        </dl>
        <dl class="col-4">
            <dt>Reparto</dt>
            <dd>{{contenidoSeleccionado.reparto}}</dd>
            <dt>Guion</dt>
            <dd>{{contenidoSeleccionado.guion}}</dd>
            <dt>Direccion</dt>
            <dd>{{contenidoSeleccionado.direccion}}</dd>
            <dt>Musica</dt>
            <dd>{{contenidoSeleccionado.musica}}</dd>
        </dl>
        
    </div>
</div>