
<p-menubar [model]="items" [style]=" {backgroundColor:'var(--red-900)'}">
    
    <ng-template pTemplate="start" >
        <a routerLink="/home"><img src="../../../assets/imagenes/LogoPopFilm (1).png" height="70 " class="logoNav mr-2"></a>
    </ng-template>
    
    <ng-template pTemplate="end">
        <input class="buscador" type="text" pInputText placeholder="Buscar">
        <button pButton pRipple type="button" label="Ingresar" icon="pi pi-user"  class="botonNav p-button-text"></button>
    </ng-template>
    
</p-menubar>
