
    <h1 style="color: white;">Iniciar Sesion</h1>
    <form [formGroup]="loginForm">
        <span class="p-float-label m-4" >
            <input type="text" pInputText formControlName="nombreUsu">
            <label for="float-input">Nombre de Usuario</label>
        </span>
        <span class="p-float-label m-4">
            <input type="text" pInputText formControlName="contraUsu">
            <label for="float-input">Contraseña</label>
        </span>
        <!-- <button pButton pRipple type="button" label="Aceptar" (click)="verificarUsuario()" class="p-button-rounded p-button-text"></button> -->
    </form>

