<div class="carouselDiseño">  
    <p-carousel [value]="miMultimedia" [numVisible]="4" [numScroll]="3" [showIndicators]="false" [circular]="false" [responsiveOptions]="responsiveOptions">
        <ng-template let-i pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="p-mb-3">
                        <img src="{{i.imagenMultimedia}}" [alt]="i.titulo" style="width: 50%;height:75%;margin:0px" class="product-image" />
                    </div>
                    <div>
                        <h3 class="p-mb-1">{{i.titulo}}</h3>
                        <p class="p-mt-0 p-mb-3">{{i.genero.name}}</p>
                        <div class="car-buttons mt-3">
                            <!-- el boton dirige a la ruta info-multimedia/ id del contenido recibido -->
                            <button pButton pRipple type="button" routerLink='../info-multimedia/{{i.id_multimedia}}{{i.id_serie}}' label="Más Información" class="p-button-raised p-button-info"></button>
                            
                            <!-- Botones editar y eliminar habilitados si la variable admin es verdadera -->
                            <div style="margin-top: 10px;">
                                <button style="margin-right:10px;" *ngIf="admin===true" pButton pRipple type="button" (click)="editarContenido(i)" icon="pi pi-pencil" class="p-button-rounded p-button-outlined"></button>
                                <button pButton pRipple type="button" *ngIf="admin===true" (click)="mostrarEliminar(i)" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined"></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div> 


<!-- dialogo que se muestra para eliminar -->
<p-dialog header="¡Atención!" [(visible)]="eliminarVisible">
    <h4>¿Desea eliminar este contenido?</h4>
    <!-- si el tipo del contenido es una serie se muestra el boton y envia el id_serie -->
    <button pButton pRipple type="button" *ngIf="tipoMultiSelec=='Serie'" (click)="borrarContenido(multimediaSeleccionada.id_serie)" icon="pi pi-check" class="p-button-rounded p-button-primary p-button-outlined"></button>
    
    <!-- si el tipo del contenido es una pelicula se muestra el boton y envia el id_pelicula -->
    <button pButton pRipple type="button" *ngIf="tipoMultiSelec=='Pelicula'"(click)="borrarContenido(multimediaSeleccionada.id_multimedia)" icon="pi pi-check" class="p-button-rounded p-button-success p-button-outlined"></button>
    <button pButton pRipple type="button" icon="pi pi-times" (click)="eliminarVisible=false" class="p-button-rounded p-button-danger p-button-outlined"></button>
</p-dialog>


