/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(../src/assets/Imagenes/fondo-cine-sillas.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
