<footer>
    <div class="footer-content">
        <img src="../../../assets/imagenes/LogoPopFilm.png" alt="ImagenDeLogo" style="height: 120px;width: 130px;border-radius: 50%;align-self:  start ;">
    </div>
  <div class="container pt-4">
    <section class="mb-4">
      <a  target="_blank" href="https://www.facebook.com/photo.php?fbid=1377936805769736&set=t.100006602882865&type=3"><button pButton type="button" class="p-button-outlined btn-floating m-1" icon="pi pi-facebook" iconPos="left" ></button></a>
      <a  target="_blank" href="https://twitter.com/ramivvasquez?t=2krnR2RdhCBlJwKVK0-B_Q&s=09"><button pButton type="button" class="p-button-outlined btn-floating m-1" icon="pi pi-twitter" iconPos="left" ></button></a>
      <a  target="_blank" href="https://www.instagram.com/victoriaestevezlpm/?hl=es-la"><button pButton type="button" class="p-button-outlined btn-floating m-1" icon="pi pi-instagram" iconPos="left"></button></a>
    </section>
    </div>
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © PopFilm Todos los derechos reservados, 2022
    </div>
    <!-- Copyright -->
</footer>
