<footer>
    <div class="footer-content">
        <img src="../../../assets/imagenes/LogoPopFilm (1).png" alt="ImagenDeLogo" style="height: 120px;width: 130px;border-radius: 50%;align-self:  start ;">
    </div>
  <div class="container pt-4">
    <section class="mb-4">
      <button pButton type="button" class="  p-button-outlined btn-floating m-1" icon="pi pi-facebook" iconPos="left" href=""></button>
      <button pButton type="button" class="  p-button-outlined btn-floating m-1" icon="pi pi-twitter" iconPos="left" href=""></button>
      <button pButton type="button" class="  p-button-outlined btn-floating m-1" icon="pi pi-youtube" iconPos="left" href=""></button>
    </section>
    </div>
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © PopFilm Todos los derechos reservados, 2022
    </div>
    <!-- Copyright -->
</footer>
